<html>
    <head>
        <title> New User </title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            </head>
   
    <body style="display: flex;justify-content: center;">
        <div class = "row" style="width: 900px;">
        <div class = "col-sm-12">
        
        <form action="/changepassword/" method="post">
            <p class="loginStyle" align = "center" style = "padding-right: 110px;">New Password</p>
            <br />
            <br />
            <input class="usernameStyle" type="text" name="password" id ="password" align="center" placeholder="Password"/>
            <input class="usernameStyle" type="text" name="newpassword" align="center" id = "newpassword" placeholder="Confrim Password"/>
            <input type="submit" value="Reset" class="submit">
         
            
        </form>
        
    </div>
        </div>
    </body>

    <script type="text/javascript">
        $(function () {
            $("#Submit").click(function () {
                var pass = $("#password").val();
                var confirmPass = $("#newpassword").val();
                if (pass != confirmPass) {
                    alert("Passwords do not Match!");
                    return false;
                }
                return true;
            });
        });
    </script>
</html>

